/* Main section */
.main-section{
    // style main sectio info for heading section
    .main-section-info{
        h2{
            font-weight: 600;
            text-transform: uppercase;
            color: #000;

        }
    }

}



/* End of Main section */
