/* Footer */
.main-footer{
    padding: 20px 0;
    color: $gray;
    background: $main-background-color;
    .footer-info{
        span{
            font-size: 16px;
            letter-spacing: 1px;
        }
    }
}


/* End of Footer */
